body {
  margin: 0;
  background-color: #fddf75;
}

.navbar-light .navbar-brand {
  color: #c15d6d;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
}

.navbar-light .navbar-brand:hover {
  color: #57d9f2;
}

.myname {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.firstnamebackground {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p.firstname {
  background-image: url(../goldbackground.jpg);
  opacity: .8;
  font-size: 60px;
  width: 50%;
  color: white;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.line {
  width: 100px;
  border: 1px solid #b9956d;
}
.dot {
  height: 20px;
  width: 25px;
  background-color: #b9956d;
  border-radius: 50%;
  display: inline-block;
}

.lastnameunderline {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

p.lastname {
  font-size: 50px;
  text-transform: uppercase;
  color: #474248;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

.underline {
  width: 140px;
  border: 1px solid #b9956d;
  margin: 1%;
}

.firsthalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cats {
  height: 300px;
  width: 450px;
  margin-top: 10%;
  border: 1px solid #57d9f2;
}

.fillerbox {
  height: 8px;
  width: 94%;
  border: 1px solid #57d9f2;
  background-color: #57d9f2;
  margin-top: 2%;
}

.maintext {
  background-color: #c15d6d;
  height: 400px;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  font-family: 'Libre Baskerville', serif;
}

.maintextbox {
  background: #c76f7eb6;
  width: 95%;
  text-align: center;
  color: #474248;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.books {
  height: 400px;
  width: 175px;
  margin: 1%;
  border: 1px solid #57d9f2;
}

.alabama {
  height: 400px;
  width: 275px;
  border: 1px solid #57d9f2;
}

.smallbox {
  height: 150px;
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 1%;
  background-color: #c98548;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
}

.smallboxtwo {
  height: 150px;
  padding-top: 4%;
  margin-bottom: 5%;
  margin-right: 0;
  margin-left: 15px;
  background-color: #46834d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
}

.subtexttwo {
  width: 95%;
  height: 75px;
  text-align: center;
  background: #619768a8;
  font-family: 'Libre Baskerville', serif;
  color: #474248;
}

.hwrap {
  width: 95%;
  height: 125px; 
  background: #d4935bd3;
  border: 2px solid #c98548;
  overflow: hidden;
  text-align: center;
  color: #474248;
  font-family: 'Libre Baskerville', serif;
  font-size: small;
  padding-top: 10px;
}

.hmove {
  display: flex;
  position: relative;
  top: 0; right: 0;
}

.hslide {
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 10px;
}

@keyframes slideh {
  0% { right: 0; }
  30% { right: 0; }
  33% { right: 100%; }
  63% { right: 100%; }
  66% { right: 200%; }
  97% { right: 200%; }
  100% { right: 0; }
}
.hmove { animation: slideh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }

button {
  background-color: #6ecc79d3;
  color: #474248;
  font-family: 'Libre Baskerville', serif;
}

.socials {
  margin: 3%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Libre Baskerville', serif;
}

a.social-link {
  color: #c15d6d;
  font-size: 20px;
  text-transform: lowercase;
}

.social-link:hover {
  color: #57d9f2;
  text-decoration: none;
}


@media (min-width: 599px) {

  .navbar-nav .nav-item .nav-link {
    color: #57d9f2;
    padding-left: 14rem;
    font-size: 15px;
    text-transform: lowercase;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
   }

   .navbar-nav .nav-item.active .nav-link,
   .navbar-nav .nav-item:hover .nav-link {
    color: #c15d6d;
   }

  .firsthalf {
    flex-direction: row;
    height: 100%;
    align-items: start;
  }

  .cats {
    margin-top: 0;
    height: 375px;
    width: 575px;
    margin-right: 1%;
    margin-top: 10px;
    position: relative;
  }

  .fillerbox {
    margin-top: 10px;
    width: 60px;
    height: 375px;
    margin-right: 1%;
    background-image: url(../pattern.jpg);
  }

  .maintext {
    height: 600px;
    width: 25%;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
  }

  .pictures {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 13%;
  }

  section {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .books {
    top: 74%;
    margin-left: 6.8%;
    height: 522px;
    width: 250px;
    position: absolute;
  }

  .alabama {
    height: 522px;
    width: 400px;
    position: absolute;
    top: 76%;
    margin-left: 20.5%;
  }

  .twopictures {
    display: flex;
    flex-direction: row;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }

  .smallbox {
    height: 42%;
    width: 29%;
    margin-left: 48.5%;
  }

  .subtext {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }

  .smallboxtwo {
    height: 36.5%;
    width: 29%;
    margin-left: 48.5%;
    margin-bottom: 2%;
  }

  .subtexttwo {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .socials {
    margin-bottom: 10px;
  }

  }
